* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #121019;
    --white: #ffffff;
}

body {
    background-color: var(--bg);
    font-family: 'Azeret Mono', sans-serif;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

input:-webkit-autofill::first-line {
    font-family: 'Azeret Mono', sans-serif !important;
}
